@using Microsoft.EntityFrameworkCore.Metadata.Internal
@using TaskManager.ViewModels
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model CreateToDoViewModel
<h5>Edit your ToDo </h5>
@Html.AntiForgeryToken()
<form asp-action="Edit" asp-controller="TODO" method="post">
    <input type="hidden" asp-for="Id" />
    <div class="mb-3">
        <label asp-for="Title" class="form-label">Title</label>
        <input asp-for="Title" type="text" class="form-control" id="title">
    </div>
    <div class="mb-3">
        <label asp-for="Description" class="form-label">Description</label>
        <textarea asp-for="Description" class="form-control" id="description" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
</form>