@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h5>Your ToDo Lists</h5>

<a asp-controller="TODO" asp-action="Create" class="btn btn-primary">+ Create New List</a>
