@using Microsoft.EntityFrameworkCore.Metadata.Internal
@using TaskManager.ViewModels
@model CreateToDoViewModel
<h5>Create new Todo Taskt</h5>
@Html.AntiForgeryToken()
<form asp-action="Create" asp-controller="TodoTask" method="post">
    <div class="mb-3">
        <label asp-for="Title" class="form-label">Title</label>
        <input asp-for="Title" type="text" class="form-control" id="title">
    </div>
    <div class="mb-3">
        <label asp-for="Description" class="form-label">Description</label>
        <textarea asp-for="Description" class="form-control" id="description" rows="3"></textarea>
    </div>
    @* <button type="submit" class="btn btn-primary">Submit</button> *@
</form>